body{
    margin :0;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color:white;
    padding:5px 250px;
}

.navbar__logo
{
    align-items:center;
    font-size:40px;
    margin-left:0%;
}

.navbar__logo a{
    color:black;
}
.navbar__logo i
{
   color : black;
   font-size: 45px;
}


.search{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-left:30px;
    padding-right:40px;
    background-color:gray;
}

.search input{
    color : black;
    height: 35px;
    margin-right :0%;
}

.search i{
    font-size: 40px;
    padding :20px;
}

.search button{  
    height : 35px;
    width: 70px;
    font-size :20px;
    margin-left:15px;
}

.logoutbutton{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.logoutbutton button{
    height : 60px;
    width: 150px;
    font-size :20px;
    margin-right:0%;
}

.posttitle{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color:gray;
    padding:5px 250px;
}

.title a{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color:gray;
    color:white;
    font-size : 30px;
    padding-left:680px;
}

.write button{
    height : 30px;
    width: 150px;
    font-size :20px;
    margin-right:0%;
}